@font-face {
  font-family: "Karla";
  src: url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
}

:root {
  /* Primary */
--teal500: hsl(179, 62%, 43%);
--teal500a: hsla(179, 62%, 43%, 0.8);
--green400: hsl(71, 73%, 54%);

/* Neutral */
--teal100: hsl(204, 43%, 93%);
--gray500: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--teal100);
}

.card {
  width: 40rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  font-family: "Karla";
}

.top {
  width: 100%;
  height: 45%;
  background-color: white;
  padding: 2.8rem 2.5rem;
  border-radius: .5rem .5rem 0 0;
}

.header {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--teal500);
  margin-bottom: 1.5rem;
}

.guarantee {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--green400);
  margin-bottom: 1rem;
}

.info {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--gray500);
}

.bottom {
  display: flex;
  width: 100%;
  height: 55%;
}

.left {
  width: 50%;
  background-color: var(--teal500);
  padding: 2.8rem 2.5rem 0 2.5rem;
  border-radius: 0 0 0 .5rem;
}

.subscription {
  font-size: 1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 1.125rem;
}

.cost {
  display: flex;
  align-items: center;
  gap: .75rem;
  margin-bottom: .5rem;
}

.number {
  font-size: 1.925rem;
  font-weight: 500;
  color: white;
}

.monthly {
  color: white;
  font-weight: 400;
}

.breakdown {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  margin-bottom: 2rem;
}

a {
  background-color: var(--green400);
  color: white;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  padding: .8rem 5.5rem;
  border-radius: .25rem;
  width: 100%;
  margin-top: 2.5rem;
}

.right {
  width: 50%;
  background-color: var(--teal500a);
  padding: 3rem 2rem;
  border-radius: 0 0 .5rem 0;
}

.us {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
  font-size: .85rem;
  font-weight: 400;
  color: white;
  margin-bottom: .25rem;
}

@media only screen and (max-width: 1100px){
  .card {
    width: 20rem;
    height: 50rem;
  }

  .top {
    height: 35%;
    padding: 2rem 1.5rem;
  }

  .header {
    font-size: 1.25rem;
  }

  .guarantee {
    font-size: 1rem;
  }

  .info {
    font-size: .9rem;
  }

  .bottom {
    flex-direction: column;
    height: 65%;
  }

  .left {
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 0;
    width: 100%;
  }

  .right {
    padding: 2rem 1.5rem;
    border-radius: 0 0 .5rem .5rem;
    width: 100%;
  }

  a {
    width: 100%;
  }

  
}
